#zonas .zona {
    position: relative;
}

#zonas .zona .elementos {
    border: 1px solid #999;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

#zonas .zona .elementos .elemento {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 2px dotted #999;
    border-radius: 8px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer !important;
}

#zonas .zona .elementos .elemento.activo {
    border-color: #4d834d;
    background-color: rgba(0,100,0, 0.1);
}

#zonas .zona .elementos .elemento.inactivo {
    border-color: #834d4d;
    background-color: rgba(100,0,0, 0.1);
}

#zonas .zona .elementos .elemento.en_proceso {
    border-color: #e4cb39;
    background-color: rgba(255, 238, 54, 0.1);
}

#zonas .zona .elementos .elemento .icono {
    position: relative;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 120px;
    height: 120px;
}

#zonas .zona .elementos .elemento .estado {
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 45px;
    height: 45px;
    border: 2px solid #999;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .7);
} 

#zonas .zona .elementos .elemento.activo .estado {
    border-color: #4d834d;
    background-image: url(../src/images/estado-activo.png);
}

#zonas .zona .elementos .elemento.inactivo .estado {
    border-color: #834d4d;
    background-image: url(../src/images/estado-inactivo.png);
}

#zonas .zona .elementos .elemento.en_proceso .estado {
    border-color: #e4cb39;
    background-image: url(../src/images/estado-en-proceso.png);
}



#zonas .zona .elementos .elemento.casa .icono {
    background-image: url(../src/images/casa.png);
}


#zonas .zona .elementos .elemento.apto .icono {
    background-image: url(../src/images/apartamento.png);
}


#zonas .zona .elementos .elemento.parqueadero .icono {
    background-image: url(../src/images/parqueadero.png);
}


#zonas .zona .elementos .elemento.bodega .icono {
    background-image: url(../src/images/bodega.png);
}