<div class="row">
    <div class="col-12">
        <img src="assets/src/images/logo-sena-negro.jpg" width="100px" height="100px"
            class="rounded mx-auto d-block" alt="sena">
    </div>
</div>
<div class="row" id="main-nav">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" id='btn-pag1' aria-current="page" href="#" data-tag="pag1">Formulario usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='btn-pag2' aria-current="page" href="#" data-tag="pag2">Lista usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registro vivienda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registro vehiculos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ingreso</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
</div>