<div class="row">
    <div class="col-12">
        <div id="logo">
            <img src="assets/src/images/logo-tuunidad.png" width="130px" height="130px" class="rounded mx-auto d-block"
            alt="TuUnidad">
        </div>
        <label id="data-user"></label>
    </div>
</div>
<div class="row" id="main-nav">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li>
                <div class="dropdown">
                    <a class="btn btn-secondaryh dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      Inmuebles
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <li><a class="dropdown-item page" href="#" data-tag="inmueble-dashboard">Tablero</a></li>
                      <li><a class="dropdown-item page" href="#" data-tag="inmueble-form">Crear</a></li>
                      <li><a class="dropdown-item page" href="#" data-tag="inmueble-list">Listar</a></li>
                    </ul>
                  </div>
            </li>

            <li class="nav-item">
                <a class="nav-link page" id='btn-inicio' aria-current="page" href="#" data-tag="inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mision' aria-current="page" href="#" data-tag="mision">pp2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-vision' aria-current="page" href="#" data-tag="vision">pp3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-nosotros' aria-current="page" href="#" data-tag="nosotros">pp4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="btnLogout">Salir</a>
            </li>
        </ul>
    </div>
    <br>
    <br>
</div>

<script src="assets/js/header_admin.js"></script>