<div class="row">
    <div class="col-12">
        <img src="assets/src/images/logo-sena-negro.jpg" width="100px" height="100px" class="rounded mx-auto d-block"
            alt="sena">
    </div>
</div>
<div class="row" id="main-nav">
    <div class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link page" id='btn-inicio' aria-current="page" href="#" data-tag="inicio">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mision' aria-current="page" href="#" data-tag="mision">pp2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-vision' aria-current="page" href="#" data-tag="vision">pp3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-nosotros' aria-current="page" href="#" data-tag="nosotros">pp4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="btnLogout">Salir</a>
            </li>
            <li class="nav-item">
                <label id="data-user">faasdad</label>
            </li>
        </ul>
    </div>
    <br>
    <br>
</div>

<script src="assets/js/header_admin.js"></script>