<h3>Formulario nuevo inmueble</h3>
<form id="formulario-inmueble">
    <div class="row">
        <div class="col-6">
            <label for="nomenclatura" class="form-label">Nomenclatura</label>
            <input type="text" class="form-control" id="nomenclatura">
        </div>
        <div class="col-6">
            <label for="m2" class="form-label">M2</label>
            <input type="number" min="10" max="500" class="form-control" id="m2">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-6">
            <label for="tipo_inmueble" class="form-label">Tipo inmueble</label>
            <select class="form-select" aria-label="Default select example" id="tipo_inmueble">
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
<script src="assets/js/admin/inmueble-form.js"></script>